<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

<header id="header-box" th:fragment="header">
    <div id="header-box-text">
        <a style="text-decoration: none" href="/">
        <h1 id="header-text">
            Wishlist Kea
        </h1>
        </a>
    </div>

    <div id="header-content-under-text">

        <div id="create-new-list">
            <button class="button" id="create-new-list-button">Lav ny liste</button>
        </div>

        <div id="login-register-buttons">
            <a href="/login">
            <div id="log-in">
                <button class="button" id="log-in-button">Log Ind</button>
            </a>
            </div>

            <a href="/registrer">
                <div id="register">
                <button class="button" id="register-button">Registrer</button>
            </a>
            </div>
        </div>
    </div>

</header>

<footer id="footerstyle" th:fragment="footer" >
    <div id="footer-overskrift">
        <p>
            <br>
            <a href="https://github.com/Eliot996/Madspild" style="color: lightskyblue" >
                Github Repository
            </a>
            <br>
            <a href="https://github.com/Eliot996" style="color: lightskyblue"  >
                <br> Mathias Eliot Nielsen
            </a>
            <a href="https://github.com/sofiaabrahamsen" style="color: lightskyblue">
                <br> Sofia Emilia Abrahamsen
            </a>
            <a href="https://github.com/lass026q" style="color: lightskyblue">
                <br> Lasse Bøgeskov-Jensen
            </a>
            <a href="https://github.com/H4ppyN4p" style="color: lightskyblue" >
                <br> Tobias Hammeken Arboe
            </a>
            <br>
            <br>
        </p>
    </div>
</footer>
</body>
</html>