<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{generalStyle.css}">
    <link rel="stylesheet" th:href="@{listsStyle.css}">

</head>
<body>
<div id="site_colour">
    <div id="site_container">
        <div id="content-container">

            <header th:insert="fragments/fragments.html :: header"></header>

            <main  id="list-of-wishes-boundary">

                <section th:each="list : ${listOfWishlists}" class="list-box">
                    <div class="list-name">
                        <h2>
                            - List Name
                        </h2>
                    </div>
                    <div class="list-buttons">
                        <button class="button">Del</button>
                        <button class="button">Rediger</button>
                        <button class="button">Slet</button>
                    </div>
                </section>

            </main>

            <div class="padding-div"></div>

        </div>
    </div>
    <footer th:insert="fragments/fragments.html :: footer"></footer>

</div>


</body>
</html>